.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .cardImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #0070f3;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease;
  }
  
  .button:hover {
    background: #005bb5;
  }
  
/* botones */
  .custom-btn {
    background-color: #f38170;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .custom-btn:hover {
    background-color: #d96b5b;
  }
  
  .custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(243, 129, 112, 0.5);
  }